:root {
    --cor-primaria: #351969;
    --cor-secundaria: #4b2691;
    --cor-fundo: #e4cfff;
    --cor-texto: #17003d;
    --cor-contraste: #aa7cff;
    --cor-botao: #9067d3;

}

body {
    max-width: 100vw; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    background-color:var(--cor-primaria);
    color: var(var(--cor-secundaria));
    text-align: center;
    margin: 0 auto;
    padding:16px;
}

main{
    background-color: var(--cor-fundo);
    color: var(--cor-primaria);
    margin: 0 auto;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
}